<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzz.potato.dao.TbRewardMapper" >
  <resultMap id="BaseResultMap" type="com.lzz.potato.pojo.TbReward" >
    <id column="re_id" property="reId" jdbcType="INTEGER" />
    <result column="re_level" property="reLevel" jdbcType="VARCHAR" />
    <result column="re_time" property="reTime" jdbcType="DATE" />
    <result column="re_name" property="reName" jdbcType="VARCHAR" />
    <result column="re_person" property="rePerson" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    re_id, re_level, re_time, re_name, re_person
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lzz.potato.pojo.TbRewardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_reward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_reward
    where re_id = #{reId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_reward
    where re_id = #{reId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lzz.potato.pojo.TbRewardExample" >
    delete from tb_reward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lzz.potato.pojo.TbReward" >
    insert into tb_reward (re_id, re_level, re_time, 
      re_name, re_person)
    values (#{reId,jdbcType=INTEGER}, #{reLevel,jdbcType=VARCHAR}, #{reTime,jdbcType=DATE}, 
      #{reName,jdbcType=VARCHAR}, #{rePerson,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lzz.potato.pojo.TbReward" >
    insert into tb_reward
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reId != null" >
        re_id,
      </if>
      <if test="reLevel != null" >
        re_level,
      </if>
      <if test="reTime != null" >
        re_time,
      </if>
      <if test="reName != null" >
        re_name,
      </if>
      <if test="rePerson != null" >
        re_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reId != null" >
        #{reId,jdbcType=INTEGER},
      </if>
      <if test="reLevel != null" >
        #{reLevel,jdbcType=VARCHAR},
      </if>
      <if test="reTime != null" >
        #{reTime,jdbcType=DATE},
      </if>
      <if test="reName != null" >
        #{reName,jdbcType=VARCHAR},
      </if>
      <if test="rePerson != null" >
        #{rePerson,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lzz.potato.pojo.TbRewardExample" resultType="java.lang.Integer" >
    select count(*) from tb_reward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_reward
    <set >
      <if test="record.reId != null" >
        re_id = #{record.reId,jdbcType=INTEGER},
      </if>
      <if test="record.reLevel != null" >
        re_level = #{record.reLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.reTime != null" >
        re_time = #{record.reTime,jdbcType=DATE},
      </if>
      <if test="record.reName != null" >
        re_name = #{record.reName,jdbcType=VARCHAR},
      </if>
      <if test="record.rePerson != null" >
        re_person = #{record.rePerson,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_reward
    set re_id = #{record.reId,jdbcType=INTEGER},
      re_level = #{record.reLevel,jdbcType=VARCHAR},
      re_time = #{record.reTime,jdbcType=DATE},
      re_name = #{record.reName,jdbcType=VARCHAR},
      re_person = #{record.rePerson,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lzz.potato.pojo.TbReward" >
    update tb_reward
    <set >
      <if test="reLevel != null" >
        re_level = #{reLevel,jdbcType=VARCHAR},
      </if>
      <if test="reTime != null" >
        re_time = #{reTime,jdbcType=DATE},
      </if>
      <if test="reName != null" >
        re_name = #{reName,jdbcType=VARCHAR},
      </if>
      <if test="rePerson != null" >
        re_person = #{rePerson,jdbcType=INTEGER},
      </if>
    </set>
    where re_id = #{reId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lzz.potato.pojo.TbReward" >
    update tb_reward
    set re_level = #{reLevel,jdbcType=VARCHAR},
      re_time = #{reTime,jdbcType=DATE},
      re_name = #{reName,jdbcType=VARCHAR},
      re_person = #{rePerson,jdbcType=INTEGER}
    where re_id = #{reId,jdbcType=INTEGER}
  </update>
</mapper>