<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>待评价</title>
     <link rel="icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/pages-sampling.css" />
    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css" />
	<style>
		.banner{width:100%;height:140px;background:url(img/_/sampling_head2.jpg) no-repeat center center}
	
	
	</style>
</head>

<body>
    <!-- 头部栏位 -->
    <!--页面顶部-->

<div id="nav-bottom">
	<!--供应商-->
   
	<!--顶部-->
	<div class="nav-top">
		<div class="top">
			<div class="py-container">
				<div class="shortcut">
					<ul class="fl">
						<li class="f-item"><strong><i>POTATO</i></strong>管理系统欢迎您！</li>
						<li class="f-item">请<a href="login.html" target="_blank">登录</a>　<span><a href="register.html" target="_blank">免费注册</a></span></li>
					</ul>
					<ul class="fr">
						<li class="f-item">我的订单</li>
						<li class="f-item space"></li>
						<li class="f-item"><a href="home.html" target="_blank">我的产品</a></li>
						<li class="f-item space"></li>
						<li class="f-item">会员</li>
						<li class="f-item space"></li>
						<li class="f-item">企业采购</li>
						<li class="f-item space"></li>
						<li class="f-item">关注</li>
						<li class="f-item space"></li>
						<li class="f-item" id="service">
							<span>客户服务</span>
							<ul class="service">
								<li><a href="cooperation.html" target="_blank">合作招商</a></li>
								<li><a href="shoplogin.html" target="_blank">商家后台</a></li>
								<li><a href="cooperation.html" target="_blank">合作招商</a></li>
								<li><a href="#">商家后台</a></li>
							</ul>
						</li>
						<li class="f-item space"></li>
						<li class="f-item">网站导航</li>
					</ul>
				</div>
			</div>
		</div>

		<!--头部-->
		<div class="header">
			<!--图片-->
				<div class="banner" style="heigth:100px;">
				</div>
			<div class="py-container">
			

				<div class="yui3-g NavList">
				
					<div class="yui3-u Left all-sort">
						<h4><a href="首页.html">首页</a></h4>
					</div>
					<div class="yui3-u Center navArea">
						<ul class="nav">
							<li class="f-item"><a href="">快速办理</a></li>
							<li class="f-item"><a href="项目申报页面.html">事项申报</a></li>
							<li class="f-item"><a href="">科技项目</a></li>
							<li class="f-item"><a href="成果查询.html">科技成果</a></li>
							<li class="f-item"><a href="奖励统计.html">科技奖励</a></li>
							<li class="f-item"><a href="查看人才信息.html">科技人才</a></li>
							<li class="f-item"><a href="">下载专区</a></li>
							<li class="f-item"><a href="">注销</a></li>
						</ul>
					</div>
					<div class="yui3-u Right"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#service").hover(function(){
		$(".service").show();
	},function(){
		$(".service").hide();
	});
	$("#shopcar").hover(function(){
		$("#shopcarlist").show();
	},function(){
		$("#shopcarlist").hide();
	});

})
</script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
<style>
.div1{

        margin:0 auto;
        width:180px;
        height:50px;
        border-radius:5px 5px 0 0;
        text-align: center;
        line-height: 50px;
		 border:1px solid #ffcc00;
		 background:#fffff7;
		 margin-top:20px;
        }
		
.message{
		margin:0 auto;
        width:190px;
        height:505px;
		border:1px solid #a5b6c8;
        border-radius:5px 5px 0 0;
        text-align: center;

}
</style>
</body>
    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">Michelle</span>
                            <span class="safe">账户安全</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                     <div class="message">
					 
					 <div class="div1"><a href="" >通知通告</a></div>
					 <div class="div1"><a href="" >科技动态</a></div>
					 <div class="div1"><a href=""  >办事指南</a></div>
					 <div class="div1"><a href="" >处室概况</a></div>
					 <div class="div1"><a href=""  class="list-active">链接导航</a></div>

						
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6 order-pay">
                    <div class="body">
                        
                        <div class="like-title">
                            <div class="mt">
                                <span class="fl"><strong>通知报告</strong></span>
                            </div>
                        </div>
                        <div class="like-list" style="height:180px;">
            
                        </div>
						
						
                        <div class="order-detail" style="height:35px;">
                            
                       
                          
                        </div>

                        <div class="like-title">
                            <div class="mt">
                                <span class="fl"><strong>科技动态</strong></span>
                            </div>
                        </div>
                        <div class="like-list" style="height:180px;">
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部栏位 -->
    <!--页面底部-->
<div class="clearfix footer">
	<div class="py-container">
		<div class="footlink">
			<div class="Mod-service">
				<ul class="Mod-Service-list">
					<li class="grid-service-item intro  intro1">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item  intro intro2">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item intro  intro3">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item  intro intro4">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item intro intro5">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
				</ul>
			</div>
			
			<div class="Mod-copyright">
				<ul class="helpLink">
					<li>关于我们<span class="space"></span></li>
					<li>联系我们<span class="space"></span></li>
					<li>关于我们<span class="space"></span></li>
					<li>商家入驻<span class="space"></span></li>
					<li>营销中心<span class="space"></span></li>
					<li>友情链接<span class="space"></span></li>
					<li>关于我们<span class="space"></span></li>
					<li>营销中心<span class="space"></span></li>
					<li>友情链接<span class="space"></span></li>
					<li>关于我们</li>
				</ul>
				<p>地址：湖南省衡阳市蒸湘区南华大学 邮编：1008611 电话：400-618-4000 传真：010-82935100</p>
				<p>京ICP备08001421号京公网安备110108007702</p>
			</div>
		</div>
	</div>
</div>
<!--页面底部END-->

undefined

</html>